#chart text {
    fill: rgb(223, 206, 206);
    text-anchor: end;
}



.axis path, .axis line {
    fill: none;
    /*stroke: #fff;*/
    shape-rendering: crispEdges;
}

body {
    /*background: #1a1a1a;*/
    color: #eaeaea;
  
}

path {
    stroke: black;
    stroke-width: 2;
    fill: black;
}